* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
html{
    background-image: url(img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: "Montserrat", sans-serif;
    
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    &_text{
        font-weight: 700;
        font-size: 64px;
        color: #FFFFFF;
        width: 750px;
        margin-top: 217px;
    }

    &_subtitle{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 481px;
        margin-top: 32px;
    }

    &_button{
        background: #9C0332;
        border-radius: 30px;
        color: white;
        width: 234.06px;
        height: 48.6px;
        border: 0px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 44px;
        margin-bottom: 493px;
        transition: 0.5s;
        &:hover{
            transform: scale(1.05);
            border-color: black;
            border-radius: 1px;
        }
    }
}

.game{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        margin-bottom: 128px;
    

    &_block{
        color: hsl(0, 0%, 100%);
        width: 378px;
        height: 300px;
        display: flex;
        align-items: flex-end;
        
    }
    
    &_img{
        width: 100%;
        transition: 0.5s;
        &:hover{
            transform: scale(1.05);
            border: 3px solid #44D2FF; 
            border-radius: 16px;
        }
    }
    
}

.seasons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    height: 800px;
    &_block{
        width: 595px;
    }

    &_text{
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }

    &_p{
        font-weight: 300;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 32px;
    }

    &_img{
        width :100%;
        height: auto;
    }

    &_button{
        background: #9C0332;
        border-radius: 30px;
        color: white;
        width: 234.06px;
        height: 48.6px;
        border: 0px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 32px;
        transition: 0.5s;
        &:hover{
            transform: scale(1.05);
            border-color: black;
            border-radius: 1px;
        }

    }
}

@import "mobile"; 